.product-grid-container {
    padding: 0 20px; /* Adjust the padding values to your desired amount */
  }
  
  .product-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  } 


/* Rest of your styles... */

.product-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;

    .product-image {
        max-width: 100%; /* Ensures the image is not wider than its container */
        max-height: 150px; /* Set the desired fixed height for all images */
      }
}

/* index.scss */

#header {
    position: relative;
    margin: 0;
    padding-top: 0;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    height: 60px;
    border-bottom: 2px solid #007bff;
    /* Add a bottom border for a modern look */
}

/* Styling for the user information */
.user-info {
    display: flex;
    align-items: center;
}

.user-name {
    margin-right: 10px;
    font-weight: bold;
}

/* Styling for the cart button and icon */
.button-cart {
    background: #007bff;
    /* Change the background color to a modern blue */
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
    /* Add some padding to the button */
    border-radius: 4px;
    /* Rounded corners for the button */
    transition: background 0.3s;
    /* Add a smooth hover effect */
}

.button-cart:hover {
    background: #0056b3;
    /* Darken the background color on hover */
}

.cart-icon {
    width: 1rem;
    /* Adjust the size as needed (e.g., 1rem for a smaller size) */
    margin-right: 6px;
    /* Add some spacing between the icon and text */
}

.Product {
    width: 100%;
    height: 50;
    margin-bottom: 20px;
  }

  .Product__thumbnail {
    max-height: 200px;
    height:  200px;
    width: 200px;
    object-fit: contain;
  }

  .Product__thumbnail img {
    max-height: 200px;
    height:  200px;
    width: 200px;
    object-fit: contain;
  }

